Repository tohhongxiang/astro-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: MVP
  .prettierrc
  README.md
  astro.config.mjs
  package-lock.json
  package.json
  src/components/mode-toggle.tsx
  src/components/nav-bar.astro
  src/components/table-of-contents.astro
  src/components/ui/dropdown-menu.tsx
  src/layouts/base-layout.astro
  src/layouts/blog-layout.astro
  src/lib/format-date.ts
  src/pages/blog/index.astro
  src/pages/blog/post-1/index.md
  src/pages/blog/post-2/index.md
  src/pages/blog/post-3/index.md
  src/pages/blog/post-4.md
  src/pages/index.astro
  src/styles/global.css
Due: prettier --write, eslint

feat: Update content
  src/pages/blog/binary-search/index.md
  src/pages/blog/post-1/index.md
  src/pages/blog/post-2/index.md
  src/pages/blog/post-3/_img1.jpg
  src/pages/blog/post-3/index.md
  src/pages/blog/post-4.md
Due: none

feat: Update content
  src/pages/blog/egg-drop/index.md
Due: none

chore: Convert from npm to yarn
  package-lock.json
  yarn.lock
Due: none

fix: Husky not found
  package.json
Due: none

feat: External links go to new tab, code blocks now have proper margin bottom
  astro.config.mjs
  package.json
  src/pages/blog/heaps/index.md
  src/styles/global.css
  yarn.lock
Due: prettier --write

feat: Add notes section
  .lintstagedrc.json
  .prettierrc
  package.json
  src/components/header/index.astro
  src/components/note-item/index.tsx
  src/components/post-item/index.tsx
  src/layouts/blog-layout.astro
  src/pages/index.astro
  src/pages/notes/index.astro
  src/pages/notes/machine-learning/chapter-1/introduction.md
  src/pages/notes/machine-learning/chapter-2/linear-regression.md
  src/pages/notes/test/index.md
  src/types/index.ts
  yarn.lock
Due: prettier --write, eslint

chore: Update content
  src/pages/index.astro
  src/pages/notes/index.astro
  src/pages/notes/machine-learning/chapter-0/introduction.md
  src/pages/notes/machine-learning/chapter-1/_images/gradient-descent.png
  src/pages/notes/machine-learning/chapter-1/_images/learning-rate.png
  src/pages/notes/machine-learning/chapter-1/_images/linear-regression-cost-function.png
  src/pages/notes/machine-learning/chapter-1/introduction.md
  src/pages/notes/machine-learning/chapter-1/linear-regression-and-gradient-descent.md
  src/pages/notes/machine-learning/chapter-2/linear-regression.md
  src/pages/notes/test/index.md
Due: prettier --write, eslint

fix: Allow horizontal scrolling and line break for long equations
  src/layouts/base-layout.astro
  src/styles/global.css
Due: prettier --write, eslint

chore: Update content
  src/pages/notes/machine-learning/chapter-1/linear-regression-and-gradient-descent.md
  src/pages/notes/machine-learning/chapter-2/_images/locally-weighted-linear-regression.webp
  src/pages/notes/machine-learning/chapter-2/_images/logistic-regression-example.png
  src/pages/notes/machine-learning/chapter-2/_images/sigmoid.png
  src/pages/notes/machine-learning/chapter-2/logistic-regression.md
Due: none

chore: Update ps0
  src/layouts/blog-layout.astro
  src/pages/notes/machine-learning/problem-sets/_questions/ps0.pdf
  src/pages/notes/machine-learning/problem-sets/answers/ps0-solutions.md
Due: prettier --write, eslint

feat: Use content collections instead
  README.md
  astro.config.mjs
  eslint.config.js
  package.json
  src/collections/blog/binary-search/index.md
  src/collections/blog/egg-drop/index.md
  src/collections/blog/heaps/index.md
  src/collections/notes/machine-learning/chapter-0/introduction.md
  src/collections/notes/machine-learning/chapter-1/_images/gradient-descent.png
  src/collections/notes/machine-learning/chapter-1/_images/learning-rate.png
  src/collections/notes/machine-learning/chapter-1/_images/linear-regression-cost-function.png
  src/collections/notes/machine-learning/chapter-1/linear-regression-and-gradient-descent.md
  src/collections/notes/machine-learning/chapter-2/_images/locally-weighted-linear-regression.webp
  src/collections/notes/machine-learning/chapter-2/_images/logistic-regression-example.png
  src/collections/notes/machine-learning/chapter-2/_images/sigmoid.png
  src/collections/notes/machine-learning/chapter-2/logistic-regression.md
  src/collections/notes/machine-learning/chapter-3/generalised-linear-models.md
  src/collections/notes/machine-learning/problem-sets/_questions/ps0.pdf
  src/collections/notes/machine-learning/problem-sets/_questions/ps1.pdf
  src/collections/notes/machine-learning/problem-sets/answers/ps0-solutions.md
  src/collections/notes/machine-learning/problem-sets/answers/ps1-solutions.ipynb
  src/components/note-item/index.tsx
  src/components/post-item/index.tsx
  src/content.config.ts
  src/lib/format-date.ts
  src/pages/blog/[...id].astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/notes/[...id].astro
  src/types/index.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

chore: Update content
  src/collections/notes/machine-learning/chapter-3/generalised-linear-models.md
  src/collections/notes/machine-learning/chapter-3/softmax-classification.md
  src/collections/notes/machine-learning/chapter-4/_images/gda.png
  src/collections/notes/machine-learning/chapter-4/_images/multivariate-gaussian.png
  src/collections/notes/machine-learning/chapter-4/gda-and-naive-bayes.md
  src/collections/notes/machine-learning/problem-sets/answers/ps1-solutions.ipynb
  src/collections/notes/machine-learning/problem-sets/answers/ps1-solutions.md
  src/lib/format-date.ts
  src/pages/notes/index.astro
Due: prettier --write, eslint

chore: Update content for chapter 4
  src/collections/notes/machine-learning/chapter-4/gda-and-naive-bayes.md
  src/collections/notes/machine-learning/chapter-4/gda.md
  src/collections/notes/machine-learning/chapter-4/naive-bayes.md
  src/collections/notes/machine-learning/problem-sets/answers/ps0-solutions.md
Due: none

feat: Support python notebooks
  src/collections/notes/machine-learning/problem-sets/answers/testing-notebook.ipynb
  src/content.config.ts
  src/lib/content/notebook-utils.ts
Due: prettier --write, eslint

fix: Styling for outputs
  astro.config.mjs
  package.json
  src/collections/notes/machine-learning/problem-sets/answers/housing-prices-sg.ipynb
  src/collections/notes/machine-learning/problem-sets/answers/testing-notebook.ipynb
  src/lib/content/notebook-utils.ts
  src/styles/global.css
  yarn.lock
Due: prettier --write, eslint

fix: Monkeypatch expressive-code-output not working on empty code lines because trailing whitespace is trimmed
  astro.config.mjs
  src/collections/notes/machine-learning/problem-sets/answers/housing-prices-sg.ipynb
  src/collections/notes/machine-learning/problem-sets/answers/test.md
  src/collections/notes/machine-learning/problem-sets/answers/testing-notebook.ipynb
  src/lib/content/notebook-utils.ts
  src/lib/plugins/expressive-code-output.ts
Due: prettier --write, eslint

chore: Remove unused @fujocoded/expressive-code-output
  package.json
  yarn.lock
Due: none

chore: Clean up and reorganise
  src/collections/blog/linear-regression/index.ipynb
  src/collections/notes/machine-learning/chapter-4/gda.md
  src/content.config.ts
  src/lib/loaders/combine-loaders.ts
  src/lib/loaders/markdown-loader.ts
  src/lib/loaders/notebook-loader/index.ts
  src/lib/loaders/notebook-loader/types.ts
  src/lib/loaders/notebook-loader/utils.ts
  src/lib/normalize-relative-path.ts
  src/lib/plugins/expressive-code-output.ts
  src/lib/to-title-case.ts
  src/lib/walk.ts
  src/styles/global.css
Due: prettier --write, eslint

fix: Opening modal causes layout shift because scrollbar disappears
  src/collections/notes/machine-learning/chapter-4/gda.md
  src/components/mode-toggle.tsx
  src/components/ui/dropdown-menu.tsx
Due: prettier --write, eslint

chore: Fix layout on smaller widths
  src/components/note-item/index.tsx
  src/components/post-item/index.tsx
  src/lib/loaders/notebook-loader/index.ts
  src/pages/index.astro
  tsconfig.json
Due: prettier --write, eslint

feat: Improve UI with hover effect and alignment
  src/components/note-item/index.tsx
  src/components/post-item/index.tsx
  src/layouts/base-layout.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/notes/index.astro
Due: prettier --write, eslint

feat: Sort by folder or by date
  src/collections/notes/not-machine-learning/one-new-file.md
  src/collections/notes/not-machine-learning/two-new-file.md
  src/components/note-item/index.tsx
  src/layouts/notes-layout.astro
  src/pages/notes/folders.astro
  src/pages/notes/index.astro
Due: prettier --write, eslint

feat: Remove client router
  src/layouts/base-layout.astro
  src/pages/blog/[...id].astro
  src/pages/notes/[...id].astro
Due: prettier --write, eslint

fix: Code blocks flash from dark to light in light mode
  src/collections/blog/linear-regression/index.ipynb
  src/layouts/base-layout.astro
  src/styles/global.css
Due: prettier --write, eslint

fix: Prevent mermaid graph from flashing in light mode
  src/collections/blog/linear-regression/index.ipynb
  src/collections/notes/not-machine-learning/one-new-file.md
  src/components/mode-toggle.tsx
  src/layouts/base-layout.astro
  src/styles/global.css
Due: prettier --write, eslint

chore: Clean up
  src/components/mode-toggle.tsx
  src/layouts/base-layout.astro
  src/styles/global.css
Due: prettier --write, eslint

fix: Use client side rendering for mermaid diagrams instead, remove playwright dependency, refactor to share layouts between notes and blog entries
  astro.config.mjs
  src/layouts/base-layout.astro
  src/layouts/markdown-entry-layout.astro
  src/lib/plugins/remark-mermaid.ts
  src/pages/blog/[...id].astro
  src/pages/notes/[...id].astro
  src/styles/global.css
Due: prettier --write, eslint

fix: Mermaid diagrams and code blocks do not flash the wrong theme on page load anymore
  README.md
  astro.config.mjs
  package.json
  src/components/mode-toggle.tsx
  src/layouts/base-layout.astro
  src/layouts/markdown-entry-layout.astro
  src/lib/plugins/remark-mermaid.ts
  src/styles/global.css
Due: prettier --write, eslint

fix: Allow playwright to install properly on vercel
  package.json
Due: none

fix: Use astro-mermaid instead of rehype-mermaid
  README.md
  astro.config.mjs
  package.json
  src/collections/notes/not-machine-learning/one-new-file.md
  src/components/mode-toggle.tsx
  src/layouts/markdown-entry-layout.astro
  yarn.lock
Due: prettier --write, eslint

test: Trigger rebuild
  src/collections/notes/not-machine-learning/one-new-file.md
Due: none

chore: Add solution for ps1 q1b
  .gitignore
  README.md
  src/collections/notes/machine-learning/problem-sets/answers/ps1/_data/ds1_pred.csv
  src/collections/notes/machine-learning/problem-sets/answers/ps1/_data/ds1_train.csv
  src/collections/notes/machine-learning/problem-sets/answers/ps1/_data/ds1_valid.csv
  src/collections/notes/machine-learning/problem-sets/answers/ps1/q1.ipynb
  src/collections/notes/machine-learning/problem-sets/answers/testing-notebook.ipynb
Due: none

fix: Do not render last block if empty in a python notebook
  src/lib/loaders/notebook-loader/utils.ts
Due: prettier --write, eslint

feat: Add limit to landing page list of posts and notes
  src/pages/index.astro
Due: prettier --write, eslint

feat: Remove grouping by folders, added search
  src/components/notes/search.tsx
  src/layouts/notes-layout.astro
  src/pages/notes/folders.astro
  src/pages/notes/index.astro
Due: prettier --write, eslint

feat: Add relativeFilePath to file data
  src/components/note-item/index.tsx
  src/content.config.ts
  src/lib/loaders/markdown-loader.ts
  src/lib/loaders/notebook-loader/index.ts
Due: prettier --write, eslint

chore: Update README with TODO
  README.md
Due: none

feat: Support default title and date in markdown files
  src/lib/loaders/markdown-loader.ts
  src/lib/loaders/markdown-loader/index.ts
  src/lib/loaders/markdown-loader/types.ts
  src/lib/loaders/markdown-loader/utils.ts
  src/lib/loaders/notebook-loader/utils.ts
  src/lib/loaders/shared.ts
Due: prettier --write, eslint

chore: Add more solutions for ps1
  src/collections/notes/machine-learning/problem-sets/answers/ps1-solutions.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,tsx,astro}) or (any of: *.css)
  eslint: any of: *.{ts,tsx,astro}
